# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.DS_Store
.build/

# Environment files
.env
.env.*
!.env.example

# TypeScript / build artifacts
dist/
*.tsbuildinfo

# IDE / Editors
.idea/
.vscode/
*.iml

# Project-specific
.mastra/
weather-agent-memory.db
/package-lock.json
